# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Angular build
/dist/
/out-tsc/
/tmp/
/coverage/
/.angular/
/.angular-cache/

# Compiled output
*.js
*.js.map
*.tsbuildinfo

# Environment files
src/environments/*.ts

# VS Code - Excluir toda la carpeta de configuración
.vscode/

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.log
*.swp

# Optional: ignore test coverage
/coverage/

# Optional: ignore production environment
src/environments/environment.ts
src/environments/environment.prod.ts