
.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.example-container {
  flex: 1;
  display: flex;
  height: 100%;
}

.example-sidenav {
  width: 250px; /* o lo que quieras para el drawer */
}

.example-sidenav-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
